/*Set the title text*/
h1 {
   text-align: center;
   font-size: 50px;
   color: #ffffff;
   font-family: 'Open Sans', sans-serif;
   text-shadow: 2px 2px 4px #000000;
}

/*set backgroundcolor to a good color*/
body {
   background-color: aliceblue;
/*center all items*/
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
/*Create a class for pokemon-card*/
.pokemon-card {
   background-color: gainsboro;
   border-style: solid;
   border-width: 2px;
   border-color: black;
   height: fit-content;
   width: 242px;
   text-align: center;
   /*Make the firt letter of the text caps*/
   text-transform: capitalize;
   display: flex;
   flex-direction: column;
}
 
.pokemon-card-container {
   height: fit-content;
   width: 100%;      
   text-align: center;
   /*Make the firt letter of the text caps*/
   text-transform: capitalize;
   display: flex;
   flex-direction: row;
   padding: 10px;
   margin: 10px;
   /*Separate items */
   justify-content: space-around;
   
}

/*Create a class img-container */
.img-container {
   background-color: antiquewhite;
   border-style: double;
   border-width: 4px;
   border-color: black;
   margin: 25px;
   padding: 25px;
   
}
/*Create a class abilities-container */
.extra-container {
   background-color: azure ;
   border-style: dotted;
   border-width: 1px;
   border-color: green;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}
/*Create a class for buttons*/
.buttons {
   background-color: azure ;
   border-style: bold;
   border-width: 1px;
   border-color: black;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 10px;
}
.img-container:hover {
   background-color: lightcoral;
   border-style: double;
   border-width: 4px;
   border-color: black;
   margin: 25px;
   padding: 25px;
}
.img-container:active {
   background-color: violet;
   border-style: double;
   border-width: 4px;
   border-color: black;
   margin: 25px;
   padding: 25px;
}
