/*Set the title text*/
h1 {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

/*set backgroundcolor to a good color*/
body {
   background-color: aliceblue;
   align-items: center;
}
/*Create a class for pokemon container*/
.pokemon-container {
   background-color: gainsboro;
   border-style: double;
   border-width: 10px;
   border-color: whitesmoke;
   flex-direction: row;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   min-height: fit-content;
   max-height: 450px;
   width: fit-content;
   column-gap: 10px;
   /*Add a scroll*/
   overflow-y: scroll;
   user-select: none;
   

}

/*Create a class sprite-container */
.img-container {
   background-color: antiquewhite;
   border-style: double;
   border-width: 4px;
   border-color: black;
   width: fit-content;
   height: fit-content;
   margin: 2px;
}
.img-container:hover {
   background-color: lightcoral;
   border-style: double;
   border-width: 4px;
   border-color: black;
   width: fit-content;
   height: fit-content;
   margin: 2px;
}
.img-container:active {
   background-color: violet;
   border-style: double;
   border-width: 4px;
   border-color: black;
   width: fit-content;
   height: fit-content;
   margin: 2px;
}